<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
		<title>Demo - Contextual Opening in Zenbus</title>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	</head>	
	
	<body>
  		<div id="app">
  			<form id="search">
				<input name="query" v-model="query" placeholder="Chercher un arrêt">
			</form>
			<ul>
				<li v-for="stop in filteredList"><router-link v-bind:to="'/stop/' + stop.id">{{ stop.name }}</router-link></li>
			</ul>
			<p>
		    	<!-- use router-link component for navigation. -->
		    	<!-- specify the link by passing the `to` prop. -->
		    	<!-- `<router-link>` will be rendered as an `<a>` tag by default -->
		    	<router-link to="/foo">Go to Foo</router-link>
		    	<router-link to="/bar">Go to Bar</router-link>
		  	</p>
		  	<!-- route outlet -->
		  	<!-- component matched by the route will render here -->
		  	<router-view></router-view>
		</div>
   	<script src="/js/main.js"></script>
   </body>
</html>